<h1>GitHub Issues</h1>
<hr class="my-5 text-blue-600 border" />

<section class="grid grid-cols-1 md:grid-cols-2 sm:grid-cols-3 gap-2">   

    <!-- buttons to control the state -->
    <div class="col-span-3 flex flex-col">
        <div class="flex gap-2">
            <button class="btn active cursor-pointer">All</button>
            <button class="btn cursor-pointer">Open</button>
            <button class="btn cursor-pointer">Close</button>
        </div>
    </div>

    <!-- List -->
     <div class="mt-4 flex flex-col">
        <!-- TODO: List <app-issue-list></app-issue-list> -->
        @for (issue of issuesQuery.data(); track $index) {
            <issue-item [issue]="issue" />
        } @empty {
            @if (issuesQuery.isLoading()) {
                <p>Loading...</p>
            } @else {
                <p>No issues found</p>
            }
        }
        <!-- TODO: loader -->

        <!-- TODO: No Issues -->
     </div>

     <!-- LABELS -->
     <div class="mt-4 flex flex-col">
        <!-- TODO SPINNER -->
        @if (labelsQuery.isLoading()) {
            <p>Loading...</p>
        }@else {
            <issues-labels-selector [labels]="labelsQuery.data() ?? []" />
        }

        <!-- TODO: LABEL SELECTOR -->
     </div>

</section>

